<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="679097">  <td>22/10/21 21:24:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MasterTest.GOOGLE0()[pri:0, instance:LocalTest.RunLocalTest.MasterTest@865dd6]">GOOGLE0</td> 
  <td>TestNG-test=com.FirstTest-1@37578085</td>   <td></td> </tr>
<tr bgcolor="679097">  <td>22/10/21 21:28:14</td>   <td>204427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MasterTest.GOOGLE2()[pri:0, instance:LocalTest.RunLocalTest.MasterTest@865dd6]">GOOGLE2</td> 
  <td>TestNG-test=com.FirstTest-1@37578085</td>   <td></td> </tr>
<tr bgcolor="91e38e">  <td>22/10/21 21:29:04</td>   <td>254301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:LocalTest.RunLocalTest.MasterTest@865dd6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=com.FirstTest-1@37578085</td>   <td></td> </tr>
<tr bgcolor="91e38e">  <td>22/10/21 21:28:09</td>   <td>199422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(java.lang.String)[pri:0, instance:LocalTest.RunLocalTest.MasterTest@865dd6]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=com.FirstTest-1@37578085</td>   <td></td> </tr>
<tr bgcolor="91e38e">  <td>22/10/21 21:29:04</td>   <td>254301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:LocalTest.RunLocalTest.MasterTest@865dd6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=com.FirstTest-1@37578085</td>   <td></td> </tr>
<tr bgcolor="91e38e">  <td>22/10/21 21:28:09</td>   <td>199422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupTest(java.lang.String)[pri:0, instance:LocalTest.RunLocalTest.MasterTest@865dd6]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td>  <td>TestNG-test=com.FirstTest-1@37578085</td>   <td></td> </tr>
</table>
